body{
    margin :0px; 
    padding: 0px;
    height: 100vh;
}

.topnav {
    background-color: #212126;
    overflow: hidden;
    margin: 0px;
    width:100%;
    height: 10vh;
  }

  
.logo {
    display: block;
    width: 19vh;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0.80%;
}

.biglogo{
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 40%;
    width: 712.5px;
    height: 525px;
    margin-left: -175px;
}

#slider{
    overflow: hidden;
    z-index: 0;
}

#slider figure {
    position: absolute;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    z-index: 0;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}